<div class="container">
  <div class="crown"><%= image_tag ('crown.png') %></div>
  <h2>Meme battles with your friends</h2>
  <%= link_to new_user_registration_path do  %>
    <div class="button">
      <p> CREATE AN ACCOUNT </p>
    </div>
  <% end %>
</div>``